.drumSet {
  background-image: url("/img/drum2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  height: 100vh;
  overflow: hidden;
  display: flex;
  /* background-color: rgba(35, 47, 56, 0.6);
    background-blend-mode: overlay; */
}

.keys {
  display: flex;
  margin: auto;
  justify-content: center;
}

.key {
  width: 60px;
  height: 70px;
  border: 4px solid #000;
  margin: 10px;
  border-radius: 5px;
}
